---
---

<html lang="es" about="acha">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{"Universidad Ayra"}</title>
    <meta name="description" content={"Universidad Ayra"} />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <main>
      <div
        class={`flex flex-col min-h-screen bg-white dark:bg-slate-900 dark:text-white`}
      >
        <nav class="flex flex-col md:flex-row p-3 justify-between">
          <h1>
            <a href="/"> <b class="text-xl">Universidad Ayra</b></a>
          </h1>
          <div class="flex gap-3 items-center justify-center">
            <a href="/page/nosotros">Nosotros</a>
            <a href="/page/servicios">Servicios</a>
            <a href="/page/campus">Campus</a>
            <a href="/page/educacion" class="bg-indigo-400 rounded px-2 text-white">Estudia en Ayra</a>
          </div>
        </nav>
        <slot />
      </div>
    </main>
  </body>
</html>
