---
import Base from "../../layouts/Base.astro";

export function getStaticPaths() {
  return [
    { params: { id: "nosotros" } },
    { params: { id: "servicios" } },
    { params: { id: "campus" } },
    { params: { id: "educacion" } },
  ];
}

const { id } = Astro.params;
---

<Base>
  <div class="relative h-[30vh] md:h-[50vh]">
    <video
      title="Bienvenida Neojaverianos y Neojaverianas"
      playsinline="playsinline"
      autoplay="autoplay"
      muted="muted"
      loop="loop"
      class="h-full w-full object-cover object-center overflow-clip absolute"
    >
      <source
        src="https://javeriana.edu.co/recursosdb/20125/8971784/header7-07-23.mp4"
        type="video/mp4"
      />
    </video>
  </div>
  <div class="p-2">
    <p class="text-xs text-slate-200">
      Video tomado de
      src="https://javeriana.edu.co/recursosdb/20125/8971784/header7-07
    </p>
    <div class="p-8 flex flex-col gap-4">
      <p class="text-xl font-semibold">Pagina {id}</p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
        veritatis odit aperiam, accusantium nisi commodi amet doloremque illum
        temporibus omnis, excepturi voluptate! Culpa, possimus adipisci sunt
        rerum aperiam nobis suscipit unde dolores at provident aut ducimus
        veritatis magni qui tempora praesentium iure in deleniti non! Impedit et
        necessitatibus animi dignissimos ab natus dolor! Culpa, voluptatum!
        Blanditiis cumque dicta nesciunt. Non mollitia commodi voluptate
        molestias reiciendis beatae inventore! Officia nulla fugiat accusamus
        consequatur, reiciendis nisi minima dicta corrupti fuga quidem similique
        nemo excepturi incidunt, commodi veniam et praesentium? Autem, quas rem,
        quam est error facilis odit iste, non minus ratione porro ex?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur non
        eveniet qui, iusto explicabo ab. Voluptatibus incidunt voluptas
        doloremque repellat explicabo alias animi, quas non excepturi
        necessitatibus et distinctio molestias, ea in consequatur provident!
        Ullam, voluptates commodi unde mollitia ad provident, quasi iure
        voluptatibus cum temporibus, deserunt dolorum maxime? Labore!
      </p>
    </div>
  </div>
</Base>
